Repository dotnet/runtimelab, pull requests merged in 2020-08, with the labels that each got.

#33 Type discovery using semantic model instead of string comparisons
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/CompilationHelper.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/System.Text.Json.SourceGeneration.UnitTests.csproj
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSerializableSyntaxReceiver.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGenerator.cs
Labels: area-JsonCodeGen

#34 Add typewrapper tests after fixing metadataloadcontext issue
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/CompilationHelper.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/System.Text.Json.SourceGeneration.UnitTests.csproj
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/TypeWrapperTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGenerator.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/ReflectionUtils/FieldInfoWrapper.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/ReflectionUtils/MetadataLoadContext.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/ReflectionUtils/PropertyInfoWrapper.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/ReflectionUtils/TypeWrapper.cs
Labels: area-JsonCodeGen

#45 Add struct marshalling design doc.
  DllImportGenerator/designs/StructMarshalling.md
  DllImportGenerator/readme.md
Labels: area-DllImportGenerator

#53 Json source generation logic
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/CompilationHelper.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/JsonSourceGeneratorDiagnosticsTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/System.Text.Json.SourceGeneration.UnitTests.csproj
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/TypeWrapperTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGenerator.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorDiagnostics.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/ReflectionUtils/AssemblyWrapper.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/ReflectionUtils/RoslynExtensions.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/ReflectionUtils/TypeExtensions.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/ReflectionUtils/TypeWrapper.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/System.Text.Json.SourceGeneration.csproj
Labels: area-JsonCodeGen

#67 Fix more analyzer warnings
  src/coreclr/src/nativeaot/Directory.Build.props
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Runtime/CompilerServices/IntrinsicAttribute.cs
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Runtime/CompilerServices/ManuallyManagedAttribute.cs
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Runtime/InternalCalls.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerServices/FunctionPointerOps.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Diagnostics/Debugger.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/GC.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/ModuleHandle.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/RuntimeExceptionHelpers.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Threading/SyncTable.cs
  src/coreclr/src/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/FieldInfos/RuntimeFieldInfo.cs
  src/coreclr/src/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/MethodInfos/RuntimeConstructorInfo.cs
  src/coreclr/src/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/MethodInfos/RuntimeMethodInfo.cs
  src/coreclr/src/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/PropertyInfos/RuntimePropertyInfo.cs
  src/coreclr/src/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ExecutionEnvironmentImplementation.MappingTables.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/CallConverterThunk.CallConversionInfo.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/CallInterceptor.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/McgIntrinsics.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/SerializedDebugData.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilder.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilderState.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.NamedTypeLookup.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.StaticsLookup.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderLogger.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/TypeSystem/TypeSystemContext.Runtime.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/System/Reflection/Runtime/General/QHandles.cs
  src/coreclr/src/nativeaot/Test.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/src/nativeaot/Test.CoreLib/src/Test.CoreLib.csproj
  src/coreclr/src/tools/Common/TypeSystem/Canon/InstantiatedMethod.Canon.cs
  src/coreclr/src/tools/Common/TypeSystem/Canon/TypeDesc.Canon.cs
  src/coreclr/src/tools/Common/TypeSystem/Canon/TypeSystemContext.Canon.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/InstantiatedType.Interfaces.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/Utilities/LockFreeReaderHashtable.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/Utilities/LockFreeReaderHashtableOfPointers.cs
Labels: area-NativeAOT

#70 Make libraries build with Native AOT corelib
  eng/Subsets.props
  eng/pipelines/runtimelab.yml
  src/coreclr/dir.common.props
  src/coreclr/src/nativeaot/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/ArgIterator.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Attribute.CoreRT.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Delegate.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Enum.CoreRT.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Environment.CoreRT.Unix.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Environment.CoreRT.Win32.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Environment.CoreRT.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/GC.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Reflection/Emit/EnumBuilder.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Reflection/Emit/GenericTypeParameterBuilder.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Reflection/Metadata/AssemblyExtensions.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreRT.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/ComEventsHelper.CoreRT.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Com.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/RuntimeExceptionHelpers.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Threading/Thread.CoreRT.Unix.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Threading/Thread.CoreRT.Windows.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Threading/Thread.CoreRT.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Type.CoreRT.cs
  src/libraries/Common/src/Interop/Unix/System.Private.CoreLib.Native/Interop.Abort.cs
  src/libraries/Common/src/Interop/Unix/System.Private.CoreLib.Native/Interop.Exit.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.ExitProcess.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.RaiseFailFastException.cs
  src/libraries/Directory.Build.props
  src/libraries/System.Diagnostics.StackTrace/src/System.Diagnostics.StackTrace.csproj
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/StackFrameExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/Enum.cs
  src/libraries/System.Reflection/src/MatchingRefApiCompatBaseline.txt
  src/libraries/System.Runtime/src/MatchingRefApiCompatBaseline.txt
Labels: area-NativeAOT

#72 Make it possible to link NativeAOT outputs
  src/coreclr/src/gc/gc.cpp
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/ConstrainedCallSupport.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/genericdictionarycell.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/System.Private.TypeLoader.csproj
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/JitHelper.cs
Labels: area-NativeAOT

#64 First stab at Microsoft.DotNet.ILCompiler package
  eng/Subsets.props
  eng/liveBuilds.targets
  src/coreclr/src/nativeaot/Bootstrap/base/CMakeLists.txt
  src/coreclr/src/nativeaot/Bootstrap/dll/CMakeLists.txt
  src/coreclr/src/nativeaot/BuildIntegration/BuildFrameworkNativeObjects.proj
  src/coreclr/src/nativeaot/BuildIntegration/BuildIntegration.proj
  src/coreclr/src/nativeaot/BuildIntegration/CoreRTNatVis.natvis
  src/coreclr/src/nativeaot/BuildIntegration/Microsoft.DotNet.ILCompiler.targets
  src/coreclr/src/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Publish.targets
  src/coreclr/src/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.props
  src/coreclr/src/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.props
  src/coreclr/src/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/coreclr/src/nativeaot/BuildIntegration/findvcvarsall.bat
  src/coreclr/src/nativeaot/Runtime/Full/CMakeLists.txt
  src/coreclr/src/nativeaot/Runtime/Portable/CMakeLists.txt
  src/installer/Directory.Build.props
  src/installer/pkg/projects/Directory.Build.targets
  src/installer/pkg/projects/descriptions.json
  src/installer/pkg/projects/netcoreapp/pkg/Microsoft.DotNet.ILCompiler.pkgproj
  src/installer/pkg/projects/netcoreapp/pkg/Microsoft.NETCore.App.Runtime.pkgproj
Labels: area-NativeAOT
