Repository dotnet/runtimelab, pull requests merged in 2020-11, with the labels that each got.

#280 Remove System.CommandLine project reference
  src/coreclr/src/tools/aot/ilc.sln
Labels: area-NativeAOT

#277 Add analyzer for GeneratedDllImport attribute usage
  DllImportGenerator/DllImportGenerator.UnitTests/GeneratedDllImportAnalyzerTests.cs
  DllImportGenerator/DllImportGenerator.UnitTests/ManualTypeMarshallingAnalyzerTests.cs
  DllImportGenerator/DllImportGenerator/AnalyzerReleases.Unshipped.md
  DllImportGenerator/DllImportGenerator/Analyzers/AnalyzerDiagnostics.cs
  DllImportGenerator/DllImportGenerator/Analyzers/GeneratedDllImportAnalyzer.cs
  DllImportGenerator/DllImportGenerator/Analyzers/ManualTypeMarshallingAnalyzer.cs
  DllImportGenerator/DllImportGenerator/Resources.Designer.cs
  DllImportGenerator/DllImportGenerator/Resources.resx
  DllImportGenerator/DllImportGenerator/TypeNames.cs
Labels: area-DllImportGenerator

#272 Array marshalling support
  DllImportGenerator/DllImportGenerator.IntegrationTests/ArrayTests.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CodeSnippets.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CompileFails.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator.sln
  DllImportGenerator/DllImportGenerator/Analyzers/ManualTypeMarshallingAnalyzer.cs
  DllImportGenerator/DllImportGenerator/ArrayMarshallingCodeContext.cs
  DllImportGenerator/DllImportGenerator/DllImportStub.cs
  DllImportGenerator/DllImportGenerator/Marshalling/BlittableArrayMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/BlittableMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/ConditionalStackallocMarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallerHelpers.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/Marshalling/NonBlittableArrayMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/StringMarshaller.Utf16.cs
  DllImportGenerator/DllImportGenerator/Marshalling/StringMarshaller.Utf8.cs
  DllImportGenerator/DllImportGenerator/MarshallingAttributeInfo.cs
  DllImportGenerator/DllImportGenerator/Resources.Designer.cs
  DllImportGenerator/DllImportGenerator/Resources.resx
  DllImportGenerator/DllImportGenerator/StubCodeContext.cs
  DllImportGenerator/DllImportGenerator/StubCodeGenerator.cs
  DllImportGenerator/DllImportGenerator/TypeNames.cs
  DllImportGenerator/DllImportGenerator/TypePositionInfo.cs
  DllImportGenerator/DllImportGenerator/TypeSymbolExtensions.cs
  DllImportGenerator/TestAssets/NativeExports/Arrays.cs
  DllImportGenerator/TestAssets/NativeExports/Strings.cs
  DllImportGenerator/designs/Compatibility.md
  DllImportGenerator/designs/Pipeline.md
Labels: area-DllImportGenerator

#285 Fix byte length calculation for UTF-16 strings
  DllImportGenerator/DllImportGenerator/Marshalling/StringMarshaller.Utf16.cs
Labels: area-DllImportGenerator

#288 Add string marshallers for ANSI and platform-defined
  DllImportGenerator/DllImportGenerator.IntegrationTests/StringTests.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Diagnostics.cs
  DllImportGenerator/DllImportGenerator.UnitTests/DllImportGenerator.UnitTests.csproj
  DllImportGenerator/DllImportGenerator.UnitTests/TestUtils.cs
  DllImportGenerator/DllImportGenerator/Marshalling/BlittableArrayMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/ConditionalStackallocMarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallerHelpers.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/Marshalling/NonBlittableArrayMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/StringMarshaller.Ansi.cs
  DllImportGenerator/DllImportGenerator/Marshalling/StringMarshaller.PlatformDefined.cs
  DllImportGenerator/DllImportGenerator/Marshalling/StringMarshaller.Utf16.cs
  DllImportGenerator/DllImportGenerator/Marshalling/StringMarshaller.Utf8.cs
  DllImportGenerator/designs/Compatibility.md
Labels: area-DllImportGenerator

#291 Report diagnostic for `BestFitMapping`, `ThrowOnUnmappableChar`, and `LCIDConversion`
  DllImportGenerator/DllImportGenerator.UnitTests/CodeSnippets.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CompileFails.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator/DllImportGenerator.cs
  DllImportGenerator/DllImportGenerator/TypeNames.cs
  DllImportGenerator/DllImportGenerator/TypePositionInfo.cs
  DllImportGenerator/designs/Compatibility.md
Labels: area-DllImportGenerator

#303 Let enums and pointers go through blittable marshaller
  DllImportGenerator/DllImportGenerator.IntegrationTests/EnumTests.cs
  DllImportGenerator/DllImportGenerator.IntegrationTests/PointerTests.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CodeSnippets.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
  DllImportGenerator/TestAssets/NativeExports/Numeric.cs
Labels: area-DllImportGenerator

#317 Include Program.cs in reproNative
  src/coreclr/src/tools/aot/ILCompiler/reproNative/reproNative.vcxproj
Labels: area-NativeAOT

#319 Update source generator Roslyn dependencies
  eng/Versions.props
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGenerator.cs
Labels: area-JsonCodeGen

#320 Fix merge conflict in runtimelab.yml
  eng/pipelines/runtimelab.yml
  eng/pipelines/runtimelab/coreclr-tests.yml
  eng/pipelines/runtimelab/runtimelab-post-build-steps.yml
  src/coreclr/src/tools/Common/TypeSystem/IL/Stubs/DynamicInvokeMethodThunk.cs
  src/libraries/System.Private.DeveloperExperience.Console/src/System.Private.DeveloperExperience.Console.csproj
Labels: area-NativeAOT

#328 Update code to create CSharpGeneratorDriver instance
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/CompilationHelper.cs
Labels: area-JsonCodeGen

#327 Disable packing Demo app, tools, and test assets.
  DllImportGenerator/Demo/Demo.csproj
  DllImportGenerator/TestAssets/Directory.Build.props
  DllImportGenerator/Tools/Directory.Build.props
Labels: area-DllImportGenerator

#316 Add support for embedded debug symbols
  src/coreclr/src/tools/Common/Compiler/CompilerTypeSystemContext.cs
  src/coreclr/src/tools/Common/TypeSystem/Ecma/SymbolReader/PortablePdbSymbolReader.cs
Labels: area-NativeAOT

#330 Make JsonSerializableAttribute applicable to modules, not types
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/TestClasses.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/CompilationHelper.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/JsonSourceGeneratorDiagnosticsTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/TypeWrapperTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSerializableSyntaxReceiver.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGenerator.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Attributes/JsonSerializableAttribute.cs
Labels: area-JsonCodeGen

#322 Improve type information in function pointers
  src/coreclr/src/nativeaot/Common/src/Internal/Runtime/EEType.cs
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Runtime/DispatchResolve.cs
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Runtime/ExceptionHandling.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/ModuleList.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.MethodAddress.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.cs
Labels: area-NativeAOT

#294 Enable s390x as a runtime target
  eng/Subsets.props
  eng/build.sh
  eng/common/cross/toolchain.cmake
  eng/native/build-commons.sh
  eng/native/configurecompiler.cmake
  eng/native/configureplatform.cmake
  eng/native/configuretools.cmake
  eng/native/init-os-and-arch.sh
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/installer/corehost/cli/CMakeLists.txt
  src/installer/corehost/cli/apphost/CMakeLists.txt
  src/installer/corehost/cli/hostmisc/utils.cpp
  src/installer/corehost/tryrun.cmake
  src/installer/pkg/projects/Directory.Build.targets
  src/installer/pkg/projects/Microsoft.NETCore.DotNetAppHost/Microsoft.NETCore.DotNetAppHost.props
  src/libraries/Directory.Build.props
  src/libraries/Native/Unix/CMakeLists.txt
  src/libraries/Native/Unix/System.Native/pal_runtimeinformation.c
  src/libraries/Native/Unix/System.Native/pal_runtimeinformation.h
  src/libraries/Native/Unix/tryrun.cmake
  src/mono/CMakeLists.txt
  src/mono/configure.ac
  src/mono/mono.proj
  src/mono/mono/metadata/abi.c
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/utils/CMakeLists.txt
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
Labels: area-s390x

#337 Fix repro project
  src/coreclr/src/tools/aot/ILCompiler/repro/repro.csproj
Labels: area-NativeAOT

#342 Add dataflow annotations to a couple places
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Augments/ReflectionAugments.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Extensions/NonPortable/CustomAttributeInstantiator.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Activator.CoreRT.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Reflection/CustomAttributeNamedArgument.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreRT.cs
  src/coreclr/src/nativeaot/System.Private.Reflection.Core/src/System/ActivatorImplementation.cs
  src/coreclr/src/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/CustomAttributes/RuntimeCustomAttributeData.cs
  src/coreclr/src/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/General/NonOverriddenApis.cs
  src/coreclr/src/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/General/ReflectionCoreCallbacksImplementation.cs
  src/coreclr/src/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/General/TypeResolver.NativeFormat.cs
  src/coreclr/src/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/TypeLoader/ConstraintValidatorSupport.cs
Labels: area-NativeAOT

#348 Fix reproNative project
  src/coreclr/src/tools/aot/ILCompiler/reproNative/reproNative.vcxproj
Labels: area-NativeAOT

#311 Fix formatting for some diagnostic messages
  DllImportGenerator/DllImportGenerator.UnitTests/CompileFails.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/Resources.Designer.cs
  DllImportGenerator/DllImportGenerator/Resources.resx
Labels: area-DllImportGenerator

#323 Handle PreserveSig=false
  DllImportGenerator/DllImportGenerator.IntegrationTests/PreserveSigTests.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CodeSnippets.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CompileFails.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator/DllImportGenerator.cs
  DllImportGenerator/DllImportGenerator/DllImportStub.cs
  DllImportGenerator/DllImportGenerator/Marshalling/BlittableArrayMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/BlittableMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/BoolMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/CharMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/DelegateMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/HResultExceptionMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallerHelpers.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/Marshalling/NonBlittableArrayMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/SafeHandleMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/StringMarshaller.Ansi.cs
  DllImportGenerator/DllImportGenerator/Marshalling/StringMarshaller.PlatformDefined.cs
  DllImportGenerator/DllImportGenerator/Marshalling/StringMarshaller.Utf16.cs
  DllImportGenerator/DllImportGenerator/Marshalling/StringMarshaller.Utf8.cs
  DllImportGenerator/DllImportGenerator/StubCodeGenerator.cs
  DllImportGenerator/TestAssets/NativeExports/HResult.cs
  DllImportGenerator/designs/Pipeline.md
Labels: area-DllImportGenerator

#347 Hook up dataflow analysis into compilation
  src/coreclr/src/tools/Common/Compiler/Logger.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/DisplayNameHelpers.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/FlowAnnotations.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/MethodBodyScanner.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/DataflowAnalyzedMethodNode.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/src/tools/aot/ILCompiler.RyuJit/Compiler/DependencyAnalysis/MethodCodeNode.cs
  src/coreclr/src/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/src/tools/aot/ILCompiler/Program.cs
  src/tests/nativeaot/SmokeTests/Dataflow/Dataflow.cs
  src/tests/nativeaot/SmokeTests/Dataflow/Dataflow.csproj
  src/tests/nativeaot/SmokeTests/Reflection/Reflection.cs
Labels: area-NativeAOT

#354 Couple fixes to the dataflow analysis
  src/coreclr/src/tools/Common/TypeSystem/Common/TypeSystemHelpers.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/DataflowAnalyzedMethodNode.cs
  src/tests/nativeaot/SmokeTests/Dataflow/Dataflow.cs
Labels: area-NativeAOT

#357 Refresh dataflow analysis from the linker repo
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/MethodBodyScanner.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/README.md
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/ReflectionMethodBodyScanner.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
Labels: area-NativeAOT

#358 Add dataflow from custom attribute instances
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/EcmaExtensions.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CustomAttributeBasedDependencyAlgorithm.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/tests/nativeaot/SmokeTests/Dataflow/Dataflow.cs
Labels: area-NativeAOT

#362 Do not force interface calls as virtual
  src/coreclr/src/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
  src/coreclr/src/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
Labels: area-NativeAOT

#365 Speed up the AOT compiler by 10%
  src/coreclr/src/tools/aot/ILCompiler/ILCompiler.csproj
Labels: area-NativeAOT

#302 Implement the non-blittable type marshalling proposal
  DllImportGenerator/DllImportGenerator.IntegrationTests/CustomMarshallingTests.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CodeSnippets.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CompileFails.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator.UnitTests/ManualTypeMarshallingAnalyzerTests.cs
  DllImportGenerator/DllImportGenerator/AnalyzerReleases.Unshipped.md
  DllImportGenerator/DllImportGenerator/Analyzers/AnalyzerDiagnostics.cs
  DllImportGenerator/DllImportGenerator/Analyzers/ManualTypeMarshallingAnalyzer.cs
  DllImportGenerator/DllImportGenerator/ManualTypeMarshallingHelper.cs
  DllImportGenerator/DllImportGenerator/Marshalling/CustomNativeTypeMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/MarshallingAttributeInfo.cs
  DllImportGenerator/DllImportGenerator/Resources.Designer.cs
  DllImportGenerator/DllImportGenerator/Resources.resx
  DllImportGenerator/DllImportGenerator/TypePositionInfo.cs
  DllImportGenerator/DllImportGenerator/TypeSymbolExtensions.cs
  DllImportGenerator/TestAssets/NativeExports/CustomMarshalling.cs
  DllImportGenerator/TestAssets/SharedTypes/NonBlittable.cs
  DllImportGenerator/TestAssets/SharedTypes/SharedTypes.csproj
  DllImportGenerator/Tools/PInvokeDump/Program.cs
  DllImportGenerator/designs/StructMarshalling.md
Labels: area-DllImportGenerator

#371 Fix publishing intermediate artifacts.
  eng/pipelines/runtimelab.yml
Labels: area-NativeAOT

#373 Add DynamicallyAccessedMembers attribute to CreateSafeHandle API
  DllImportGenerator/Ancillary.Interop/GeneratedDllImportAttribute.cs
  DllImportGenerator/Ancillary.Interop/MarshalEx.cs
Labels: area-DllImportGenerator

#372 Add support for dataflow analysis to generic parameters
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/FlowAnnotations.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericDictionaryNode.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/tests/nativeaot/SmokeTests/Dataflow/Dataflow.cs
Labels: area-NativeAOT

#378 Compile build tasks as AnyCPU
  src/coreclr/src/tools/aot/ILCompiler.Build.Tasks/ILCompiler.Build.Tasks.csproj
Labels: area-NativeAOT

#377 Apply SkipLocalsInitAttribute to generated stubs.
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator/DllImportGenerator.cs
  DllImportGenerator/DllImportGenerator/DllImportStub.cs
  DllImportGenerator/DllImportGenerator/TypeNames.cs
  DllImportGenerator/TestAssets/SharedTypes/NonBlittable.cs
  DllImportGenerator/designs/StructMarshalling.md
Labels: area-DllImportGenerator

#375 Fix setting of allocation marker in ANSI string marshaller
  DllImportGenerator/DllImportGenerator/Marshalling/StringMarshaller.Ansi.cs
Labels: area-DllImportGenerator

#368 Initial default interface method support
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Runtime/CachedInterfaceDispatch.cs
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Runtime/DispatchResolve.cs
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Runtime/ExceptionIDs.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Runtime/ExceptionIDs.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/RuntimeExceptionHelpers.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/InterfaceDispatchMapNode.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/MethodExtensions.cs
  src/coreclr/src/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/tests/issues.targets
  src/tests/nativeaot/SmokeTests/Delegates/Delegates.cs
  src/tests/nativeaot/SmokeTests/Interfaces/Interfaces.cs
Labels: area-NativeAOT

#364 Cache result of MightHaveDispatchMap
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CanonicalEETypeNode.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ConstructedEETypeNode.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
Labels: area-NativeAOT

#391 Don't set SIMD flag in RyuJitCompilationBuilder
  src/coreclr/src/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilationBuilder.cs
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/Program.cs
Labels: area-NativeAOT

#390 CI: Run debug configuration instead of checked
  eng/pipelines/runtimelab.yml
Labels: area-NativeAOT

#389 Fix issues with type occurring as the type of a member somewhere in its object graph
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/TestClasses.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/TypeMetadata.cs
  src/libraries/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/libraries/System.Text.Json/tests/Serialization/JsonSerializableTypes.cs
Labels: area-JsonCodeGen

#397 Fix processing of warning suppressions
  src/coreclr/src/tools/aot/ILCompiler/Program.cs
Labels: area-NativeAOT

#406 Fix UnconditionalSuppressMessage parsing
  src/coreclr/src/tools/Common/Compiler/Logger.cs
Labels: area-NativeAOT

#407 Add test coverage for GetUninitializedObject
  src/tests/nativeaot/SmokeTests/Reflection/Reflection.cs
Labels: area-NativeAOT

#409 Implement Type.UnderlyingSystemType as an intrinsic
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
Labels: area-NativeAOT

#410 Allow unsafe blocks in the repro project
  src/coreclr/src/tools/aot/ILCompiler/repro/repro.csproj
Labels: area-NativeAOT

#360 Handle SetLastError=true
  DllImportGenerator/Ancillary.Interop/Ancillary.Interop.csproj
  DllImportGenerator/Ancillary.Interop/MarshalEx.cs
  DllImportGenerator/DllImportGenerator.IntegrationTests/SetLastErrorTests.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CompileFails.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator/DllImportGenerator.cs
  DllImportGenerator/DllImportGenerator/StubCodeGenerator.cs
  DllImportGenerator/TestAssets/NativeExports/Error.cs
  DllImportGenerator/designs/Pipeline.md
Labels: area-DllImportGenerator
