Repository dotnet/runtimelab, pull requests merged in 2020-10, with the labels that each got.

#128 Add pipeline to run Pri-0 CoreCLR tests
  eng/pipelines/runtimelab.yml
  eng/pipelines/runtimelab/coreclr-tests.yml
  eng/pipelines/runtimelab/runtimelab-post-build-steps.yml
  src/tests/Common/CLRTest.Execute.Batch.targets
  src/tests/issues.targets
Labels: area-NativeAOT

#140 Fix NuGet packages
  src/installer/pkg/projects/netcoreapp/pkg/Microsoft.DotNet.ILCompiler.pkgproj
  src/installer/pkg/projects/netcoreapp/src/netcoreapp.depproj
Labels: area-NativeAOT

#142 Fix issues in marshallers
  src/coreclr/src/tools/Common/TypeSystem/Interop/IL/Marshaller.Aot.cs
  src/coreclr/src/tools/Common/TypeSystem/Interop/IL/Marshaller.cs
  src/coreclr/src/tools/Common/TypeSystem/Interop/InteropTypes.cs
Labels: area-NativeAOT

#143 Mark System.Private assemblies as framework assemblies
  src/coreclr/src/nativeaot/Directory.Build.props
Labels: area-NativeAOT

#133 SafeHandle marshalling
  DllImportGenerator/Ancillary.Interop/Ancillary.Interop.csproj
  DllImportGenerator/Ancillary.Interop/GeneratedDllImportAttribute.cs
  DllImportGenerator/Ancillary.Interop/MarshalEx.cs
  DllImportGenerator/Demo/Demo.csproj
  DllImportGenerator/Demo/Program.cs
  DllImportGenerator/Demo/SafeHandleTests.cs
  DllImportGenerator/Directory.Build.props
  DllImportGenerator/DllImportGenerator.Test/Compiles.cs
  DllImportGenerator/DllImportGenerator.Test/DllImportGenerator.Test.csproj
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/Marshalling/SafeHandleMarshaller.cs
  DllImportGenerator/DllImportGenerator/MarshallingAttributeInfo.cs
  DllImportGenerator/DllImportGenerator/StubCodeContext.cs
  DllImportGenerator/DllImportGenerator/StubCodeGenerator.cs
  DllImportGenerator/DllImportGenerator/TypeNames.cs
  DllImportGenerator/DllImportGenerator/TypePositionInfo.cs
  DllImportGenerator/TestAssets/NativeExports/Handles.cs
  DllImportGenerator/designs/Pipeline.md
Labels: area-DllImportGenerator

#147 Add test for hardware intrinsics
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/HardwareIntrinsicHelpers.Aot.cs
  src/coreclr/src/tools/aot/ILCompiler/Program.cs
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/Program.cs
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/X64Baseline.csproj
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/x64NonVex.csproj
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/x64Vex.csproj
Labels: area-NativeAOT

#148 Add one more test exclusion
  src/tests/issues.targets
Labels: area-NativeAOT

#146 Get P/Invoke information from assembly metadata
  DllImportGenerator/DllImportGenerator.sln
  DllImportGenerator/Tools/PInvokeDump/PInvokeDump.TypeProviders.cs
  DllImportGenerator/Tools/PInvokeDump/PInvokeDump.cs
  DllImportGenerator/Tools/PInvokeDump/PInvokeDump.csproj
  DllImportGenerator/Tools/PInvokeDump/Program.cs
  DllImportGenerator/Tools/PInvokeDump/Reporting/Csv.cs
  DllImportGenerator/Tools/PInvokeDump/Reporting/Html.cs
  DllImportGenerator/Tools/PInvokeDump/Reporting/Text.cs
Labels: area-DllImportGenerator

#149 Create test projects
  DllImportGenerator/Demo/Demo.csproj
  DllImportGenerator/Demo/Program.cs
  DllImportGenerator/DllImportGenerator.IntegrationTests/DllImportGenerator.IntegrationTests.csproj
  DllImportGenerator/DllImportGenerator.IntegrationTests/SafeHandleTests.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CodeSnippets.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CompileFails.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator.UnitTests/DllImportGenerator.UnitTests.csproj
  DllImportGenerator/DllImportGenerator.UnitTests/ManualTypeMarshallingAnalyzerTests.cs
  DllImportGenerator/DllImportGenerator.UnitTests/TestUtils.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Verifiers/CSharpAnalyzerVerifier.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Verifiers/CSharpVerifierHelper.cs
  DllImportGenerator/DllImportGenerator.sln
  DllImportGenerator/TestAssets/NativeExports/Demo.cs
  DllImportGenerator/TestAssets/NativeExports/Handles.cs
  DllImportGenerator/readme.md
Labels: area-DllImportGenerator

#152 Boolean and Delegate tests
  DllImportGenerator/DllImportGenerator.IntegrationTests/BooleanTests.cs
  DllImportGenerator/DllImportGenerator.IntegrationTests/DelegateTests.cs
  DllImportGenerator/DllImportGenerator/Marshalling/BoolMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/DelegateMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/Forwarder.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/Marshalling/SafeHandleMarshaller.cs
  DllImportGenerator/TestAssets/NativeExports/Booleans.cs
  DllImportGenerator/TestAssets/NativeExports/DelegatesAndFunctionPointers.cs
  DllImportGenerator/TestAssets/NativeExports/NativeExports.csproj
Labels: area-DllImportGenerator

#158 Report diagnostics in generator
  DllImportGenerator/Demo/Demo.csproj
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Diagnostics.cs
  DllImportGenerator/DllImportGenerator/DllImportGenerator.cs
  DllImportGenerator/DllImportGenerator/DllImportGenerator.csproj
  DllImportGenerator/DllImportGenerator/DllImportStub.cs
  DllImportGenerator/DllImportGenerator/GeneratorDiagnostics.cs
  DllImportGenerator/DllImportGenerator/ManualTypeMarshallingAnalyzer.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/Resources.Designer.cs
  DllImportGenerator/DllImportGenerator/Resources.resx
  DllImportGenerator/DllImportGenerator/StubCodeContext.cs
  DllImportGenerator/DllImportGenerator/StubCodeGenerator.cs
  DllImportGenerator/DllImportGenerator/TypePositionInfo.cs
  DllImportGenerator/designs/Diagnostics.md
  DllImportGenerator/readme.md
Labels: area-DllImportGenerator

#214 Print out DllImport attributes in P/Invoke dump tool
  DllImportGenerator/Tools/PInvokeDump/PInvokeDump.cs
  DllImportGenerator/Tools/PInvokeDump/Reporting/Csv.cs
  DllImportGenerator/Tools/PInvokeDump/Reporting/Html.cs
  DllImportGenerator/Tools/PInvokeDump/Reporting/Text.cs
Labels: area-DllImportGenerator

#210 Fix issue in LayoutClassPtr and Char marshalling
  src/coreclr/src/tools/Common/TypeSystem/Interop/IL/Marshaller.Aot.cs
  src/tests/issues.targets
Labels: area-NativeAOT

#222 Include symbols in the compiler package
  src/installer/pkg/projects/netcoreapp/pkg/Microsoft.DotNet.ILCompiler.pkgproj
Labels: area-NativeAOT

#211 Preserve optimization settings in tests to AOT build
  src/tests/Common/CLRTest.NativeAot.targets
  src/tests/nativeaot/SmokeTests/PInvoke/PInvoke.csproj
Labels: area-NativeAOT

#209 Annotate failing tests
  src/tests/issues.targets
Labels: area-NativeAOT

#212 Add Char marshaller
  DllImportGenerator/DllImportGenerator.IntegrationTests/CharacterTests.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CodeSnippets.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CompileFails.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator/DllImportStub.cs
  DllImportGenerator/DllImportGenerator/GeneratorDiagnostics.cs
  DllImportGenerator/DllImportGenerator/Marshalling/CharMarshaller.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/MarshallingAttributeInfo.cs
  DllImportGenerator/DllImportGenerator/Resources.Designer.cs
  DllImportGenerator/DllImportGenerator/Resources.resx
  DllImportGenerator/DllImportGenerator/StubCodeGenerator.cs
  DllImportGenerator/DllImportGenerator/TypePositionInfo.cs
  DllImportGenerator/TestAssets/NativeExports/Characters.cs
  DllImportGenerator/designs/Compatibility.md
Labels: area-DllImportGenerator

#227 Fix warnings for analyzer release
  DllImportGenerator/DllImportGenerator/AnalyzerReleases.Shipped.md
  DllImportGenerator/DllImportGenerator/GeneratorDiagnostics.cs
  DllImportGenerator/DllImportGenerator/ManualTypeMarshallingAnalyzer.cs
Labels: area-DllImportGenerator

#231 Sort ILCompiler project to the top
  src/coreclr/src/tools/aot/ilc.sln
Labels: area-NativeAOT

#129 Compare code gen
  DllImportGenerator/DllImportGenerator.sln
  DllImportGenerator/Tools/Benchmarking/Benchmarking.csproj
  DllImportGenerator/Tools/Benchmarking/CodeGenEventListener.cs
  DllImportGenerator/Tools/Benchmarking/CodeGenMonitor.cs
  DllImportGenerator/Tools/Benchmarking/Visualizer/HtmlCompareTwoPane.cs
Labels: area-DllImportGenerator

#234 Add convenience repro project
  docs/workflow/building/coreclr/nativeaot.md
  eng/Subsets.props
  src/coreclr/src/tools/aot/ILCompiler/ILCompiler.csproj
  src/coreclr/src/tools/aot/ILCompiler/repro/Program.cs
  src/coreclr/src/tools/aot/ILCompiler/repro/repro.csproj
  src/coreclr/src/tools/aot/ILCompiler/reproNative/.gitignore
  src/coreclr/src/tools/aot/ILCompiler/reproNative/Directory.Build.props
  src/coreclr/src/tools/aot/ILCompiler/reproNative/Directory.Build.targets
  src/coreclr/src/tools/aot/ILCompiler/reproNative/reproNative.vcxproj
  src/coreclr/src/tools/aot/ilc.sln
Labels: area-NativeAOT

#191 Replace McgIntrinsics with function pointers
  src/coreclr/src/nativeaot/Common/src/Internal/Runtime/CompilerHelpers/StartupCodeHelpers.cs
  src/coreclr/src/nativeaot/Common/src/Internal/Runtime/EEType.cs
  src/coreclr/src/nativeaot/Common/src/System/Runtime/InteropServices/McgIntrinsicsAttribute.cs
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Diagnostics/Eval.cs
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Runtime/CalliIntrinsics.cs
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Runtime/DispatchResolve.cs
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Runtime/ExceptionHandling.cs
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Runtime/InteropServices/McgIntrinsicsAttribute.cs
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Runtime/__Finalizer.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/InvokeUtils.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/ClassConstructorRunner.NonPortable.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/ClassConstructorRunner.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreRT.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/PInvokeMarshal.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Runtime/TypeLoaderExports.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/CallConverterThunk.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/CallInterceptor.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/McgIntrinsics.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/ModuleList.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.GVMResolution.cs
  src/coreclr/src/nativeaot/System.Private.TypeLoader/src/System.Private.TypeLoader.csproj
  src/coreclr/src/nativeaot/Test.CoreLib/src/System/Runtime/CompilerServices/ClassConstructorRunner.cs
  src/coreclr/src/nativeaot/Test.CoreLib/src/Test.CoreLib.csproj
  src/coreclr/src/tools/Common/TypeSystem/IL/CoreRTILProvider.cs
  src/coreclr/src/tools/Common/TypeSystem/IL/Stubs/AddrOfIntrinsic.cs
  src/coreclr/src/tools/Common/TypeSystem/IL/Stubs/CalliIntrinsic.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/Compiler/UserDefinedTypeDescriptor.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
Labels: area-NativeAOT

#239 Fix behavior of interface dispatch on null instances
  src/coreclr/src/nativeaot/Runtime.Base/src/System/Runtime/ExceptionHandling.cs
  src/coreclr/src/nativeaot/Runtime/EHHelpers.cpp
  src/coreclr/src/nativeaot/Runtime/PalRedhawk.h
  src/coreclr/src/nativeaot/Runtime/amd64/StubDispatch.S
  src/coreclr/src/nativeaot/Runtime/amd64/StubDispatch.asm
  src/coreclr/src/nativeaot/Runtime/arm64/StubDispatch.S
  src/coreclr/src/nativeaot/Runtime/arm64/StubDispatch.asm
  src/coreclr/src/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/tests/issues.targets
  src/tests/nativeaot/SmokeTests/Interfaces/Interfaces.cs
Labels: area-NativeAOT

#213 Enable nullability checks across DllImportGenerator
  DllImportGenerator/Ancillary.Interop/GeneratedMarshallingAttribute.cs
  DllImportGenerator/Demo/Demo.csproj
  DllImportGenerator/DllImportGenerator.IntegrationTests/DllImportGenerator.IntegrationTests.csproj
  DllImportGenerator/DllImportGenerator.UnitTests/DllImportGenerator.UnitTests.csproj
  DllImportGenerator/DllImportGenerator.UnitTests/Verifiers/CSharpAnalyzerVerifier.cs
  DllImportGenerator/DllImportGenerator/DllImportGenerator.cs
  DllImportGenerator/DllImportGenerator/DllImportGenerator.csproj
  DllImportGenerator/DllImportGenerator/DllImportStub.cs
  DllImportGenerator/DllImportGenerator/ManualTypeMarshallingAnalyzer.cs
  DllImportGenerator/DllImportGenerator/ManualTypeMarshallingHelper.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/MarshallingAttributeInfo.cs
  DllImportGenerator/DllImportGenerator/TypePositionInfo.cs
  DllImportGenerator/DllImportGenerator/TypeSymbolExtensions.cs
Labels: area-DllImportGenerator

#249 String marshallers for UTF-16 and UTF-8
  DllImportGenerator/DllImportGenerator.IntegrationTests/CharacterTests.cs
  DllImportGenerator/DllImportGenerator.IntegrationTests/StringTests.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CompileFails.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Diagnostics.cs
  DllImportGenerator/DllImportGenerator/DllImportStub.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/Marshalling/StringMarshaller.Utf16.cs
  DllImportGenerator/DllImportGenerator/Marshalling/StringMarshaller.Utf8.cs
  DllImportGenerator/DllImportGenerator/MarshallingAttributeInfo.cs
  DllImportGenerator/DllImportGenerator/Resources.Designer.cs
  DllImportGenerator/DllImportGenerator/Resources.resx
  DllImportGenerator/DllImportGenerator/TypeNames.cs
  DllImportGenerator/TestAssets/NativeExports/Strings.cs
  DllImportGenerator/designs/Compatibility.md
Labels: area-DllImportGenerator

#253 Disable nullable checks in integration tests
  DllImportGenerator/DllImportGenerator.IntegrationTests/DllImportGenerator.IntegrationTests.csproj
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
Labels: area-DllImportGenerator

#255 Remove support for the custom marshaller on MarshalAsAttribute.
  DllImportGenerator/DllImportGenerator.UnitTests/CodeSnippets.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CompileFails.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator/MarshallingAttributeInfo.cs
  DllImportGenerator/DllImportGenerator/TypePositionInfo.cs
  DllImportGenerator/designs/Compatibility.md
Labels: area-DllImportGenerator

#230 Add initial blittable struct test
  DllImportGenerator/DllImportGenerator.IntegrationTests/BlittableStructTests.cs
  DllImportGenerator/DllImportGenerator.IntegrationTests/DllImportGenerator.IntegrationTests.csproj
  DllImportGenerator/DllImportGenerator.sln
  DllImportGenerator/TestAssets/NativeExports/BlittableStructs.cs
  DllImportGenerator/TestAssets/NativeExports/NativeExports.csproj
  DllImportGenerator/TestAssets/SharedTypes/Blittable.cs
  DllImportGenerator/TestAssets/SharedTypes/DNNE.cs
  DllImportGenerator/TestAssets/SharedTypes/SharedTypes.csproj
Labels: area-DllImportGenerator

#246 Remove mention of #199
  src/tests/issues.targets
Labels: area-NativeAOT

#259 Factor out some nullability uses
  DllImportGenerator/DllImportGenerator/GeneratorDiagnostics.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/MarshallingAttributeInfo.cs
  DllImportGenerator/DllImportGenerator/TypePositionInfo.cs
Labels: area-DllImportGenerator

#258 Add event for marking the Start/Stop of source generation
  DllImportGenerator/DllImportGenerator/Diagnostics/Events.cs
  DllImportGenerator/DllImportGenerator/DllImportGenerator.cs
Labels: area-DllImportGenerator

#264 Update DllImportGenerator branch name.
  README.md
Labels: documentation

#265 Disable reflection invoke for all byref-like arguments
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/InvokeUtils.cs
  src/coreclr/src/tools/Common/TypeSystem/IL/Stubs/DynamicInvokeMethodThunk.cs
Labels: area-NativeAOT

#267 Fix GC safe mask for 64-bit
  src/coreclr/src/nativeaot/Runtime/ObjectLayout.h
Labels: area-NativeAOT

#266 Fix STA apartment handling
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/StartupCode/StartupCodeHelpers.Extensions.cs
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/Resources/Strings.resx
  src/coreclr/src/nativeaot/System.Private.CoreLib/src/System/Threading/WaitHandle.Windows.cs
  src/coreclr/src/tools/aot/ILCompiler.Compiler/IL/Stubs/StartupCode/StartupCodeMainMethod.cs
Labels: area-NativeAOT

#269 Implement RhpGcPoll on x64
  src/coreclr/src/nativeaot/Runtime/CMakeLists.txt
  src/coreclr/src/nativeaot/Runtime/amd64/AsmMacros.inc
  src/coreclr/src/nativeaot/Runtime/amd64/GcProbe.S
  src/coreclr/src/nativeaot/Runtime/amd64/GcProbe.asm
  src/coreclr/src/nativeaot/Runtime/arm64/GcProbe.asm
  src/coreclr/src/nativeaot/Runtime/portable.cpp
Labels: area-NativeAOT

#270 Fix native library sample
  samples/NativeLibrary/LoadLibrary.c
  src/coreclr/src/nativeaot/Bootstrap/main.cpp
  src/coreclr/src/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.props
  src/coreclr/src/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.props
  src/coreclr/src/nativeaot/Runtime/startup.cpp
  src/tests/Common/CLRTest.NativeAot.targets
  src/tests/nativeaot/SmokeTests/SharedLibrary/CMakeLists.txt
  src/tests/nativeaot/SmokeTests/SharedLibrary/SharedLibrary.cpp
  src/tests/nativeaot/SmokeTests/SharedLibrary/SharedLibrary.cs
  src/tests/nativeaot/SmokeTests/SharedLibrary/SharedLibrary.csproj
Labels: area-NativeAOT

#271 Disable value task pooling for native AOT
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncTaskCache.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncValueTaskMethodBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncValueTaskMethodBuilderT.cs
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
Labels: area-NativeAOT

#276 Report generator diagnostic when trying to target pre-.NET 5.0
  DllImportGenerator/DllImportGenerator.UnitTests/Diagnostics.cs
  DllImportGenerator/DllImportGenerator.UnitTests/TestUtils.cs
  DllImportGenerator/DllImportGenerator/AnalyzerReleases.Shipped.md
  DllImportGenerator/DllImportGenerator/AnalyzerReleases.Unshipped.md
  DllImportGenerator/DllImportGenerator/DllImportGenerator.cs
  DllImportGenerator/DllImportGenerator/GeneratorDiagnostics.cs
  DllImportGenerator/DllImportGenerator/Resources.Designer.cs
  DllImportGenerator/DllImportGenerator/Resources.resx
  DllImportGenerator/designs/Diagnostics.md
Labels: area-DllImportGenerator
