Repository dotnet/runtimelab, pull requests merged in 2021-08, with the labels that each got.

#1376 Delete CheckArrayElementType lookup support
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/RuntimeExports.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/GenericDictionaryCell.cs
  src/coreclr/tools/Common/Internal/NativeFormat/NativeFormat.cs
  src/coreclr/tools/Common/Internal/Runtime/RuntimeConstants.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericLookupResult.cs
Labels: area-NativeAOT

#1379 Update compat doc
  designs/Compatibility.md
Labels: area-DllImportGenerator

#1377 Change how we write to stderr from CoreLib
  docs/using-nativeaot/optimizing.md
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/DeveloperExperience/DeveloperExperience.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/RuntimeExceptionHelpers.cs
  src/coreclr/tools/aot/ILCompiler/repro/repro.csproj
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Log.cs
  src/libraries/Native/Unix/System.Native/entrypoints.c
  src/libraries/Native/Unix/System.Native/pal_log.c
  src/libraries/Native/Unix/System.Native/pal_log.h
  src/libraries/Native/Unix/System.Native/pal_log.m
  src/libraries/NetCoreAppLibrary.props
  src/libraries/System.Private.CoreLib/src/Internal/Console.Unix.cs
  src/libraries/System.Private.CoreLib/src/Internal/Console.Windows.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.DeveloperExperience.Console/Directory.Build.props
  src/libraries/System.Private.DeveloperExperience.Console/src/Internal/Runtime/CompilerHelpers/LibraryInitializer.cs
  src/libraries/System.Private.DeveloperExperience.Console/src/System.Private.DeveloperExperience.Console.csproj
  src/libraries/pkg/baseline/packageIndex.json
Labels: area-NativeAOT

#1375 Use the repo-local NuGet.config with GetReferenceAssemblies so we can use pre-release ref packs reliably.
  DllImportGenerator/DllImportGenerator.UnitTests/DllImportGenerator.UnitTests.csproj
  DllImportGenerator/DllImportGenerator.UnitTests/TestUtils.cs
  eng/Versions.props
Labels: area-DllImportGenerator

#1378 Plan for .NET 7 integration
  designs/RuntimeConsumption.md
Labels: area-DllImportGenerator

#1389 Include canonical EETypes in GVM analysis
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ConstructedEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GVMDependenciesNode.cs
  src/tests/nativeaot/SmokeTests/Generics/Generics.cs
Labels: area-NativeAOT

#1398 Emit custom attributes on generic parameters
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CustomAttributeBasedDependencyAlgorithm.cs
  src/libraries/System.Runtime/tests/System/Reflection/NullabilityInfoContextTests.cs
Labels: area-NativeAOT

#1395 verify merge
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/srm/dgml/DgmlWriter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/srm/matcher/VectorizedIndexOf.cs
Labels: area-RegexSRM

#1406 Generate method metadata even if we can't make a body
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/RootingHelpers.cs
  src/tests/nativeaot/SmokeTests/Reflection/Reflection.cs
Labels: area-NativeAOT

#1405 Speed up generic virtual method analysis
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CanonicalEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ConstructedEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GVMDependenciesNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/InterfaceGenericVirtualMethodTableNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectableMethodNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/RuntimeMethodHandleNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/TypeGVMEntriesNode.cs
  src/tests/nativeaot/SmokeTests/Generics/Generics.cs
Labels: area-NativeAOT

#1411 Use struct with default constructor in CreateInstance
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Activator.CoreRT.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Compilation.cs
Labels: area-NativeAOT

#1410 Implement default generic interface methods
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/TypeLoaderCallbacks.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerServices/GenericVirtualMethodSupport.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.GVMResolution.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.cs
  src/coreclr/tools/Common/Internal/Runtime/RuntimeConstants.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GVMDependenciesNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/InterfaceGenericVirtualMethodTableNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/TypeGVMEntriesNode.cs
  src/tests/issues.targets
  src/tests/nativeaot/SmokeTests/Generics/Generics.cs
Labels: area-NativeAOT

#1419 Improve test project files
  src/tests/Common/CLRTest.NativeAot.targets
  src/tests/nativeaot/Directory.Build.props
  src/tests/nativeaot/Directory.Build.targets
Labels: area-NativeAOT

#1418 Fix invoking instance methods on interfaces
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectionInvokeMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectionVirtualInvokeMapNode.cs
  src/tests/nativeaot/SmokeTests/Reflection/Reflection.cs
Labels: area-NativeAOT

#1417 Update issues.targets
  src/tests/issues.targets
Labels: area-NativeAOT

#1416 Fix handling diamond case in GVMs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.GVMResolution.cs
Labels: area-NativeAOT

#1415 Fix how we skip over JMP
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/MethodBodyScanner.cs
Labels: area-NativeAOT

#1429 Baseline test failing due to BinaryFormatter
  src/tests/issues.targets
Labels: area-NativeAOT

#1422 Fix handling of constrained calls on ValueTypes
  src/coreclr/jit/importer.cpp
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/GenericDictionaryCell.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/tests/nativeaot/SmokeTests/DynamicGenerics/GenericVirtualMethods.cs
  src/tests/nativeaot/SmokeTests/Generics/Generics.cs
Labels: area-NativeAOT

#1432 Fix SingleMethodCompilationModuleGroup
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/SingleMethodCompilationModuleGroup.cs
Labels: area-NativeAOT

#1430 Implement TryResolveConstraintMethodApprox
  src/coreclr/tools/Common/TypeSystem/Common/TypeSystemHelpers.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
Labels: area-NativeAOT

#1433 Implement IDynamicInterfaceCastable
  src/coreclr/nativeaot/Bootstrap/main.cpp
  src/coreclr/nativeaot/Common/src/Internal/Runtime/IDynamicInterfaceCastableSupport.cs
  src/coreclr/nativeaot/Common/src/Internal/Runtime/MethodTable.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/CachedInterfaceDispatch.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/ExceptionHandling.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/InternalCalls.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/MethodTable.Runtime.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/TypeCast.cs
  src/coreclr/nativeaot/Runtime/ICodeManager.h
  src/coreclr/nativeaot/System.Private.CoreLib/src/Resources/Strings.resx
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/InvokeUtils.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/TypeLoader/TypeCast.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/LazyVtableResolverThunk.cs
  src/coreclr/tools/Common/Compiler/TypeExtensions.cs
  src/coreclr/tools/Common/Internal/Runtime/MethodTable.Constants.cs
  src/coreclr/tools/Common/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/InterfaceDispatchMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/SealedVTableNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/VirtualMethodCallHelper.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/tests/nativeaot/SmokeTests/Interfaces/Interfaces.cs
Labels: area-NativeAOT

#1444 Garbage collect unused runtime imports/exports
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/InternalCalls.cs
  src/coreclr/nativeaot/Runtime/GCHelpers.cpp
  src/coreclr/nativeaot/Runtime/HandleTableHelpers.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
Labels: area-NativeAOT

#1443 Work towards shared generics support in IDynamicIntefaceCastable
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/SharedCodeHelpers.cs
  src/coreclr/tools/Common/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.IntefaceThunks.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/InterfaceDispatchMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/SealedVTableNode.cs
  src/tests/issues.targets
  src/tests/nativeaot/SmokeTests/Interfaces/Interfaces.cs
Labels: area-NativeAOT

#1456 Fix constrained method calls
  src/coreclr/tools/Common/TypeSystem/Common/TypeSystemHelpers.cs
  src/tests/nativeaot/SmokeTests/Generics/Generics.cs
Labels: area-NativeAOT

#1454 Fix pointer type validation
  src/coreclr/tools/Common/Compiler/CompilerTypeSystemContext.Validation.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
Labels: area-NativeAOT

#1465 Fix casing of build configurations
  eng/pipelines/runtimelab.yml
  eng/pipelines/runtimelab/runtimelab-post-build-steps.yml
Labels: area-NativeAOT

#1461 Update LLVM 5.0 -> 12.0
  src/coreclr/tools/aot/ILCompiler/ILCompiler.csproj
  src/coreclr/tools/aot/ObjWriter/CMakeLists.txt
  src/coreclr/tools/aot/ObjWriter/README.md
  src/coreclr/tools/aot/ObjWriter/build.cmd
  src/coreclr/tools/aot/ObjWriter/build.sh
  src/coreclr/tools/aot/ObjWriter/debugInfo/codeView/codeViewTypeBuilder.cpp
  src/coreclr/tools/aot/ObjWriter/debugInfo/codeView/codeViewTypeBuilder.h
  src/coreclr/tools/aot/ObjWriter/debugInfo/dwarf/dwarfAbbrev.cpp
  src/coreclr/tools/aot/ObjWriter/debugInfo/dwarf/dwarfGen.cpp
  src/coreclr/tools/aot/ObjWriter/debugInfo/dwarf/dwarfTypeBuilder.cpp
  src/coreclr/tools/aot/ObjWriter/llvm.patch
  src/coreclr/tools/aot/ObjWriter/llvmCap/CMakeLists.txt
  src/coreclr/tools/aot/ObjWriter/objwriter.cpp
  src/coreclr/tools/aot/ObjWriter/objwriter.exports
  src/coreclr/tools/aot/ObjWriter/objwriter.h
Labels: area-NativeAOT

#1476 Build Debug ObjWriter in Checked/Debug configurations
  src/coreclr/tools/aot/ILCompiler/ILCompiler.csproj
  src/coreclr/tools/aot/ObjWriter/objwriter.proj
Labels: area-NativeAOT

#1477 Include canonical forms of types involved in GVM dispatch
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ConstructedEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
Labels: area-NativeAOT
