Repository dotnet/runtimelab, pull requests merged in 2021-03, with the labels that each got.

#753 runtime master branch to main renaming
  CreateAnExperiment.md
  runtime-master-mirror.yml
Labels: * NO MERGE *, area-Infrastructure

#751 More efficient debug loc info generation
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Compilation.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/INodeWithDebugInfo.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ObjectWriter.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_X64/X64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/DependencyAnalysis/MethodCodeNode.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilation.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
Labels: area-NativeAOT

#761 Implement DynamicallyAccessedMembers.All
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/DynamicallyAccessedMembersBinder.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/tests/nativeaot/SmokeTests/Dataflow/Dataflow.cs
Labels: area-NativeAOT

#738 Enable ARM64 builds in CI
  eng/pipelines/runtimelab.yml
  eng/pipelines/runtimelab/runtimelab-post-build-steps.yml
  src/coreclr/nativeaot/Runtime/Full/CMakeLists.txt
  src/coreclr/tools/aot/ILCompiler/ILCompiler.csproj
  src/coreclr/tools/aot/ObjWriter/build.cmd
  src/coreclr/tools/aot/ObjWriter/build.sh
  src/coreclr/tools/aot/ObjWriter/llvm.patch
  src/coreclr/tools/aot/ObjWriter/objwriter.cpp
  src/coreclr/tools/aot/ObjWriter/objwriter.proj
  src/coreclr/tools/aot/ObjWriter/toolchain.cmake
  src/coreclr/vm/gcinfodecoder.cpp
Labels: area-NativeAOT

#769 Publish ILCompiler runtime package for Windows ARM64
  eng/pipelines/runtimelab/runtimelab-post-build-steps.yml
Labels: area-NativeAOT

#775 Add Alpine Linux support
  eng/pipelines/runtimelab.yml
  eng/pipelines/runtimelab/runtimelab-post-build-steps.yml
  src/coreclr/tools/aot/ILCompiler/ILCompiler.csproj
Labels: area-NativeAOT

#772 Build ObjWriter for Linux ARM64
  src/coreclr/tools/aot/ObjWriter/build.sh
  src/coreclr/tools/aot/ObjWriter/objwriter.cpp
  src/coreclr/tools/aot/ObjWriter/objwriter.h
  src/coreclr/tools/aot/ObjWriter/objwriter.proj
Labels: area-NativeAOT

#774 Finish DynamicDependencyAttribute rooting
  src/coreclr/tools/Common/Compiler/TypeExtensions.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/DynamicDependencyAttributeAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/RootingHelpers.cs
  src/tests/nativeaot/SmokeTests/Dataflow/Dataflow.cs
Labels: area-NativeAOT

#778 Make 'dotnet publish' work on ARM64
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.props
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.props
  src/coreclr/nativeaot/BuildIntegration/findvcvarsall.bat
  src/coreclr/nativeaot/Runtime/portable.cpp
  src/tests/Common/CLRTest.NativeAot.targets
Labels: area-NativeAOT

#779 Speed up reflection invoke by 32%
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Delegate.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/InvokeUtils.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/MethodInvokers/InstanceMethodInvoker.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/MethodInvokers/StaticMethodInvoker.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/MethodInvokers/VirtualMethodInvoker.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/CallConverterThunk.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DynamicInvokeMethodThunk.cs
Labels: area-NativeAOT

#782 Add explicit UTF8 BOM for native tool .rsp files on Windows
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT

#784 Fix the list of RIDs supported by ILCompiler
  src/installer/pkg/projects/Microsoft.DotNet.ILCompiler/Directory.Build.props
  src/installer/pkg/projects/Microsoft.DotNet.ILCompiler/ILCompilerRIDs.props
Labels: area-NativeAOT

#785 Fix building ILCompiler in Visual Studio
  src/coreclr/tools/aot/ILCompiler/ILCompiler.csproj
Labels: area-NativeAOT

#792 Add editorconfig for objwriter
  src/coreclr/tools/aot/ObjWriter/.editorconfig
Labels: area-NativeAOT

#793 Use TargetOS instead of OS for DotnetRuntimeDebugHeader
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT

#794 Document minimal VS installation for samples
  samples/prerequisites.md
Labels: area-NativeAOT

#800 Update arcade in feature/System.Web.Compatibility
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/SetupNugetSources.ps1
  eng/common/SetupNugetSources.sh
  eng/common/build.ps1
  eng/common/build.sh
  eng/common/darc-init.sh
  eng/common/dotnet-install-scripts/dotnet-install.ps1
  eng/common/dotnet-install-scripts/dotnet-install.sh
  eng/common/dotnet-install.sh
  eng/common/init-tools-native.sh
  eng/common/internal-feed-operations.ps1
  eng/common/internal-feed-operations.sh
  eng/common/msbuild.sh
  eng/common/native/CommonLibrary.psm1
  eng/common/native/install-cmake-test.sh
  eng/common/native/install-cmake.sh
  eng/common/native/install-tool.ps1
  eng/common/performance/crossgen_perf.proj
  eng/common/performance/microbenchmarks.proj
  eng/common/performance/performance-setup.ps1
  eng/common/performance/performance-setup.sh
  eng/common/pipeline-logging-functions.ps1
  eng/common/pipeline-logging-functions.sh
  eng/common/post-build/post-build-utils.ps1
  eng/common/post-build/publish-using-darc.ps1
  eng/common/post-build/sourcelink-validation.ps1
  eng/common/post-build/symbols-validation.ps1
  eng/common/sdl/execute-all-sdl-tools.ps1
  eng/common/sdl/init-sdl.ps1
  eng/common/sdl/packages.config
  eng/common/sdl/push-gdn.ps1
  eng/common/templates/job/execute-sdl.yml
  eng/common/templates/job/job.yml
  eng/common/templates/job/publish-build-assets.yml
  eng/common/templates/job/source-build.yml
  eng/common/templates/job/source-index-stage1.yml
  eng/common/templates/jobs/jobs.yml
  eng/common/templates/jobs/source-build.yml
  eng/common/templates/phases/publish-build-assets.yml
  eng/common/templates/post-build/channels/generic-internal-channel.yml
  eng/common/templates/post-build/channels/generic-public-channel.yml
  eng/common/templates/post-build/post-build.yml
  eng/common/templates/post-build/setup-maestro-vars.yml
  eng/common/templates/steps/perf-send-to-helix.yml
  eng/common/templates/steps/send-to-helix.yml
  eng/common/tools.ps1
  eng/common/tools.sh
  global.json
  src/System.Web.Compatibility/tests/.runsettings
  src/System.Web.Compatibility/tests/System.Web.Compatibility.Tests.csproj
Labels: area-System.Web.Compatibility

#804 Fix heap corruption in StelemRef on negative index
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/TypeCast.cs
Labels: area-NativeAOT

#816 Remove CallInterceptor and harden some range asserts
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ExecutionEnvironmentImplementation.ManifestResources.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/DebuggerSupport/DebuggerSupport.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/CallConverterThunk.CallConversionInfo.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/CallConverterThunk.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/CallInterceptor.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/ExternalReferencesTable.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilderState.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/System.Private.TypeLoader.csproj
Labels: area-NativeAOT

#818 Fix repro project
  src/coreclr/tools/aot/ILCompiler/repro/repro.csproj
Labels: area-NativeAOT

#820 Generate a suppressible warning if compilation fails
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilation.cs
Labels: area-NativeAOT

#828 Add support for default parameters in Delegate.DynamicInvoke
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Delegate.DefaultParameters.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Delegate.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/InvokeUtils.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ReflectionExecutionDomainCallbacksImplementation.cs
Labels: area-NativeAOT

#826 Add PlatformDetection.IsMetadataTokenSupported
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Runtime/tests/System/Reflection/ModuleTests.cs
Labels: area-NativeAOT

#824 Fix exception from Delegate.CreateDelegate
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/General/ReflectionCoreCallbacksImplementation.cs
Labels: area-NativeAOT

#827 Tweak PlatformDetection
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
Labels: area-NativeAOT

#829 Relax signed/unsigned checks in Array.Copy
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Array.CoreRT.cs
Labels: area-NativeAOT

#16 Initial design doc for JsonSerialization using Source Generators
  src/libraries/System.Text.Json/docs/JsonSerializationSourceGeneration.md
Labels: area-JsonCodeGen

#835 Improve various error handling
  src/coreclr/nativeaot/System.Private.CoreLib/src/Resources/Strings.resx
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Array.CoreRT.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Enum.CoreRT.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreRT.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/ActivatorImplementation.cs
Labels: area-NativeAOT

#836 Implement Module.GetField
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/Modules/NativeFormat/NativeFormatRuntimeModule.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/Modules/RuntimeModule.cs
Labels: area-NativeAOT

#825 Implement better GetExceptionForHRInternal
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreRT.cs
Labels: area-NativeAOT

#838 Disallow casting IntPtr[] to same size integral type arrays
  src/coreclr/nativeaot/Common/src/Internal/Runtime/EEType.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/TypeCast.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/EETypePtr.cs
  src/coreclr/tools/Common/TypeSystem/Common/CastingHelper.cs
Labels: area-NativeAOT

#837 Add new platform capabilities and block tests on them
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Runtime/tests/System/ActivatorTests.cs
  src/libraries/System.Runtime/tests/System/Reflection/MethodBaseTests.cs
  src/libraries/System.Runtime/tests/System/Reflection/MethodBodyTests.cs
Labels: area-NativeAOT

#848 Clean up misc areas
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/JsonSourceGeneratorDiagnosticsTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonIgnoreCondition.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGenerator.Diagnostics.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/System.Text.Json.SourceGeneration.csproj
Labels: area-JsonCodeGen

#846 More random fixes
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreRT.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/FieldInfos/RuntimeFieldInfo.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/General/ReflectionCoreCallbacksImplementation.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/General/ThunkedApis.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/TypeInfos/RuntimeNamedTypeInfo.cs
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/ILCompiler/Metadata/Transform.Type.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
Labels: area-NativeAOT

#845 Add support for profile guided optimizations
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/ProfileDataManager.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilation.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/ILCompiler.RyuJit.csproj
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/installer/pkg/projects/Microsoft.DotNet.ILCompiler/Microsoft.DotNet.ILCompiler.pkgproj
Labels: area-NativeAOT

#853 Random fixes
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Array.CoreRT.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/InvokeUtils.cs
  src/libraries/Common/tests/Tests/System/StringTests.cs
Labels: area-NativeAOT

#854 Stop generating unresolvable type forwarders
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/AnalysisBasedMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/ILCompiler/Metadata/IMetadataPolicy.cs
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/ILCompiler/Metadata/Transform.TypeForwarders.cs
Labels: area-NativeAOT

#852 Put failing tests behind ActiveIssue
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Enum.CoreRT.cs
  src/libraries/System.Runtime/tests/System/AttributeTests.cs
  src/libraries/System.Runtime/tests/System/Diagnostics/StackTraceHiddenAttributeTests.cs
  src/libraries/System.Runtime/tests/System/PseudoCustomAttributeTests.cs
  src/libraries/System.Runtime/tests/System/Reflection/InvokeWithRefLikeArgs.cs
  src/libraries/System.Runtime/tests/System/Runtime/CompilerServices/RuntimeHelpersTests.cs
  src/libraries/System.Runtime/tests/System/Runtime/ExceptionServices/ExceptionDispatchInfoTests.cs
  src/libraries/System.Runtime/tests/System/Type/TypeTests.cs
Labels: area-NativeAOT

#855 Treat interfaces as if they derive from Object in debug info
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UserDefinedTypeDescriptor.cs
Labels: area-NativeAOT

#858 Throw better exception for byref-like invokes
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/Internal/Reflection/Core/Execution/ExecutionEnvironment.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/MethodInfos/IRuntimeMethodCommon.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/MethodInfos/NativeFormat/NativeFormatMethodCommon.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/MethodInfos/RuntimeNamedMethodInfo.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/MethodInfos/RuntimePlainConstructorInfo.cs
Labels: area-NativeAOT

#860 Bump System.Reflection.Metadata
  eng/Versions.props
Labels: area-NativeAOT

#859 More suppressions
  src/libraries/System.Runtime/tests/System/Runtime/CompilerServices/RuntimeFeatureTests.cs
  src/libraries/System.Runtime/tests/System/Runtime/CompilerServices/RuntimeHelpersTests.cs
Labels: area-NativeAOT

#857 Allow open delegates to nullables
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/MethodInfos/CustomMethodInvoker.cs
Labels: area-NativeAOT

#856 Implement Exception.get_TargetSite
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Exception.CoreRT.cs
Labels: area-NativeAOT

#867 More test fixes
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Runtime/tests/System/Reflection/ModuleTests.cs
  src/libraries/System.Runtime/tests/System/Reflection/TypeTests.Get.CornerCases.cs
  src/libraries/System.Runtime/tests/System/Type/TypePropertyTests.cs
  src/libraries/System.Runtime/tests/System/Type/TypeTests.cs
Labels: area-NativeAOT

#866 A couple fixes to RuntimeModule
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/General/NonOverriddenApis.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/Modules/NativeFormat/NativeFormatRuntimeModule.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/Modules/RuntimeModule.cs
Labels: area-NativeAOT

#869 Add opt out for eager constructed type validation
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/ILLink/ILLink.Substitutions.xml
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System.Private.Reflection.Core.csproj
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/General/TypeUnifier.cs
Labels: area-NativeAOT

#872 Remove support for binary serialization reflection analysis
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/BlockedInternalsBlockingPolicy.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
Labels: area-NativeAOT

#870 Allocate GC statics on the pinned object heap
  src/coreclr/nativeaot/Common/src/Internal/Runtime/CompilerHelpers/StartupCodeHelpers.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/InteropServices/DllImportAttribute.cs
  src/coreclr/nativeaot/Runtime/GCHelpers.cpp
  src/coreclr/nativeaot/Runtime/gcrhenv.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/GC.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/FieldAccessors/PointerTypeFieldAccessorForStaticFields.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/FieldAccessors/ReferenceTypeFieldAccessorForStaticFields.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/FieldAccessors/ValueTypeFieldAccessorForStaticFields.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/EETypeCreator.cs
  src/coreclr/nativeaot/Test.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/tools/Common/Internal/Runtime/RuntimeConstants.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM/ARMReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM/ARMReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM64/ARM64ReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM64/ARM64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_X64/X64ReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_X64/X64ReadyToRunHelperNode.cs
Labels: area-NativeAOT

#875 Delete RD.XML warning
  src/coreclr/tools/aot/ILCompiler/Program.cs
Labels: area-NativeAOT

#876 Block strings intern test on #155
  src/libraries/Common/tests/Tests/System/StringTests.cs
Labels: area-NativeAOT

#877 Expose JsonSerializableAttribute from generator dll
  eng/Versions.props
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/System.Text.Json.SourceGeneration.Tests.csproj
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/TestClasses.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/CompilationHelper.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/JsonSourceGeneratorDiagnosticsTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/TypeWrapperTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGenerator.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Attributes/JsonSerializableAttribute.cs
  src/libraries/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/libraries/System.Text.Json/tests/Serialization/Array.WriteTests.cs
  src/libraries/System.Text.Json/tests/Serialization/CollectionTests/CollectionTests.Generic.Read.cs
  src/libraries/System.Text.Json/tests/Serialization/ContinuationTests.cs
  src/libraries/System.Text.Json/tests/Serialization/EnumTests.cs
  src/libraries/System.Text.Json/tests/Serialization/InvalidTypeTests.cs
  src/libraries/System.Text.Json/tests/Serialization/NumberHandlingTests.cs
  src/libraries/System.Text.Json/tests/Serialization/PropertyNameTests.cs
  src/libraries/System.Text.Json/tests/Serialization/PropertyVisibilityTests.NonPublicAccessors.cs
  src/libraries/System.Text.Json/tests/Serialization/PropertyVisibilityTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-JsonCodeGen

#881 Make size reduction based on options instantiation, not linker feature switch
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/ILLink/ILLink.Substitutions.xml
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Utf8JsonWriter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerContext.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonClassInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
Labels: area-JsonCodeGen

#886 Make misc fixes
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.Generate.cs
Labels: area-JsonCodeGen

#679 Reenable most tests on s390x
  eng/pipelines/runtimelab.yml
  src/libraries/tests.proj
Labels: area-s390x

#885 More fixes
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Threading/Monitor.CoreRT.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/ValueTypeGetFieldHelperMethodOverride.cs
  src/libraries/Common/tests/System/Collections/DebugView.Tests.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
Labels: area-NativeAOT

#887 Delete support for .NET Native import mechanism
  src/coreclr/nativeaot/Common/src/Internal/Runtime/CompilerHelpers/StartupCodeHelpers.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ExternSymbolsImportedNodeProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ExternSymbolsWithIndirectionImportedNodeProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ImportedEETypeSymbolNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ImportedGenericDictionaryNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ImportedNodeProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ImportedStaticsNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/MrtImportImportedNodeProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/MrtImports.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/MrtProcessedExportAddressTableNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/MrtProcessedImportAddressTableNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/RuntimeDecodableJumpStub.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/UnboxingStubNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
Labels: area-NativeAOT

#888 Delete debug info generation inherited from .NET Native
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/SortableDependencyNode.cs
  src/coreclr/tools/Common/TypeSystem/TypesDebugInfoWriter/DebugInfoWriter.cs
  src/coreclr/tools/Common/TypeSystem/TypesDebugInfoWriter/PrimitiveTypeDescriptor.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.WindowsDebugData.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/WindowsDebugILImagesSection.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/WindowsDebugManagedNativeDictionaryInfoSection.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/WindowsDebugMergedAssemblyRecordsSection.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/WindowsDebugMethodInfoSection.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/WindowsDebugMethodMapSection.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/WindowsDebugNeedTypeIndicesStoreNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/WindowsDebugPseudoAssemblySection.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/WindowsDebugTypeRecordsSection.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/WindowsDebugTypeSignatureMapSection.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MergedAssemblyRecords.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
Labels: area-NativeAOT

#889 Make more misc fixes
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.Generate.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/NullableConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonClassInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonClassInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonCollectionTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonObjectInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonValueInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/KnownCollectionTypeInfos.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/KnownDictionaryTypeInfos.cs
Labels: area-JsonCodeGen

#894 Delete reflection-base ValueType.Equals implementation
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/ReflectionExecutionDomainCallbacks.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/ValueType.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ReflectionExecutionDomainCallbacksImplementation.cs
Labels: area-NativeAOT
