Repository dotnet/runtimelab, pull requests merged in 2021-04, with the labels that each got.

#895 Sync files shared with ILLinker
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/EcmaExtensions.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/FlowAnnotations.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/MethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/FlowAnnotations.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/MethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/README.md
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/ValueNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ValueNode.cs
Labels: area-NativeAOT

#902 Make JsonSerializableAttribute internal to compiling assembly
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGenerator.cs
Labels: area-JsonCodeGen

#904 Handle nullable fields in ValueType.GetHashCode
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/ValueType.cs
Labels: area-NativeAOT

#903 Speed up ObjectWriter a bit
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ObjectWriter.cs
Labels: area-NativeAOT

#893 Delete .NET Native funceval support
  src/coreclr/nativeaot/Bootstrap/main.cpp
  src/coreclr/nativeaot/Runtime.Base/src/System/Diagnostics/Eval.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/InternalCalls.cs
  src/coreclr/nativeaot/Runtime/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/Debug.h
  src/coreclr/nativeaot/Runtime/DebugEventSource.cpp
  src/coreclr/nativeaot/Runtime/DebugEventSource.h
  src/coreclr/nativeaot/Runtime/DebugFuncEval.cpp
  src/coreclr/nativeaot/Runtime/DebugFuncEval.h
  src/coreclr/nativeaot/Runtime/DebuggerHook.cpp
  src/coreclr/nativeaot/Runtime/DebuggerHook.h
  src/coreclr/nativeaot/Runtime/ICodeManager.h
  src/coreclr/nativeaot/Runtime/StackFrameIterator.cpp
  src/coreclr/nativeaot/Runtime/gcrhenv.cpp
  src/coreclr/nativeaot/Runtime/gcrhscan.cpp
  src/coreclr/nativeaot/Runtime/threadstore.cpp
  src/coreclr/nativeaot/Runtime/threadstore.h
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Diagnostics/LowLevelDebugFuncEval.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/CompilerHelpers/LibraryInitializer.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/DebuggerSupport/DebuggerSupport.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/ExternalReferencesTable.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/NativeLayoutInfoLoadContext.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.SignatureParsing.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/System.Private.TypeLoader.csproj
  src/coreclr/nativeaot/Test.CoreLib/src/Test.CoreLib.csproj
Labels: area-NativeAOT

#672 Set AllowCustomResourceTypes to false
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/tests/Common/CLRTest.NativeAot.targets
  src/tests/run.proj
Labels: area-NativeAOT

#906 Establish 1:1 relationship between JsonSerialzerOptions and JsonSeria…
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.UnitTests/CompilationHelper.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.Generate.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerContext.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
Labels: area-JsonCodeGen

#907 Base size opts on serializer methods called
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.Generate.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerContext.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/tests/Serialization/OptionsTests.cs
Labels: area-JsonCodeGen

#910 Add code to generate optimized serialization logic for simple POCOs and serializer options
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.Generate.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/TypeMetadata.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectSourceGenConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerContext.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonObjectInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
Labels: area-JsonCodeGen

#912 Provide fast path to serialization logic when root type is simple
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectSourceGenConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.ByteArray.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Utf8JsonWriter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
Labels: area-JsonCodeGen

#914 Avoid rooting default converters in internal serializer logic
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.Generate.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/NullableConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/ObjectConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerContext.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
Labels: area-JsonCodeGen

#915 Add code to perform lazy property metadata initialization for simple POCOs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.Generate.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectSourceGenConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonObjectInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
Labels: area-JsonCodeGen

#922 Make metadata APIs concise
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.Generate.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ArgumentState.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IEnumerableWithAddMethodConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/KeyValuePairConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectDefaultConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectSourceGenConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.Large.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.Small.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.ReadCore.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerContext.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/MemberAccessor.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonCollectionTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonObjectInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonParameterInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonParameterInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonValueInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/KnownCollectionTypeInfos.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/KnownDictionaryTypeInfos.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/MetadataServices.Collections.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/MetadataServices.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ParameterRef.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/PropertyRef.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReflectionEmitMemberAccessor.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
Labels: area-JsonCodeGen

#911 Use static CRT for ObjWriter, fix parallelism factor
  samples/prerequisites.md
  src/coreclr/tools/aot/ObjWriter/build.cmd
  src/coreclr/tools/aot/ObjWriter/build.sh
  src/coreclr/tools/aot/ObjWriter/toolchain.cmake
Labels: area-NativeAOT

#919 Enable cross-architecture publishing
  src/coreclr/nativeaot/BuildIntegration/Microsoft.DotNet.ILCompiler.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Publish.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT

#930 Clean up property-metadata-related generation
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.Generate.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReflectionMemberAccessor.cs
Labels: area-JsonCodeGen

#935 Establish way for options instances to receive metadata from context
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration.Tests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/System.Text.Json.SourceGeneration/JsonSourceGeneratorHelper.Generate.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/NullableConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/ObjectConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/SourceGeneration/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/SourceGeneration/JsonSerializerContext.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/SourceGeneration/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/SourceGeneration/JsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/SourceGeneration/MetadataServices.Collections.cs
Labels: area-JsonCodeGen

#931 Fix write barriers for Windows ARM64
  src/coreclr/nativeaot/Runtime/arm64/WriteBarriers.asm
Labels: area-NativeAOT

#928 Add support for setting GCHeapHardLimit
  src/coreclr/nativeaot/Runtime/RhConfigValues.h
  src/coreclr/nativeaot/Runtime/gcrhenv.cpp
Labels: area-NativeAOT

#934 Enable ARM64 → x64 publishing
  src/coreclr/nativeaot/BuildIntegration/Microsoft.DotNet.ILCompiler.targets
  src/coreclr/nativeaot/BuildIntegration/findvcvarsall.bat
Labels: area-NativeAOT

#944 Fix build errors from an updated SDK/compiler and floating package versions.
  DllImportGenerator/Benchmarks/Benchmarks.csproj
  DllImportGenerator/DllImportGenerator.IntegrationTests/DllImportGenerator.IntegrationTests.csproj
  DllImportGenerator/DllImportGenerator.UnitTests/DllImportGenerator.UnitTests.csproj
  DllImportGenerator/DllImportGenerator/DllImportGenerator.csproj
  DllImportGenerator/TestAssets/NativeExports/Arrays.cs
  DllImportGenerator/TestAssets/NativeExports/CustomMarshalling.cs
  DllImportGenerator/TestAssets/NativeExports/Handles.cs
  DllImportGenerator/TestAssets/NativeExports/NativeExports.csproj
  DllImportGenerator/TestAssets/SharedTypes/NonBlittable.cs
  DllImportGenerator/Tools/Benchmarking/Benchmarking.csproj
  DllImportGenerator/Tools/PInvokeDump/PInvokeDump.csproj
  DllImportGenerator/Tools/PInvokeDump/Program.cs
  eng/Versions.props
Labels: area-DllImportGenerator

#948 Cross-architecture publishing on Linux
  src/coreclr/nativeaot/BuildIntegration/BuildFrameworkNativeObjects.proj
  src/coreclr/nativeaot/BuildIntegration/Microsoft.DotNet.ILCompiler.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Publish.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.props
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.props
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT

#941 Align Module.Name behavior with .NET 5 single file
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/Modules/NativeFormat/NativeFormatRuntimeModule.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/Modules/RuntimeModule.cs
Labels: area-NativeAOT

#954 Fix scanning error in debug ILC targeting ARM64
  src/coreclr/nativeaot/BuildIntegration/Microsoft.DotNet.ILCompiler.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.props
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
Labels: area-NativeAOT

#947 Fix cases when preprocessor definitions are surrounding the method we are generating.
  DllImportGenerator/DllImportGenerator.UnitTests/CodeSnippets.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator.UnitTests/TestUtils.cs
  DllImportGenerator/DllImportGenerator/DllImportGenerator.cs
Labels: area-DllImportGenerator

#957 Skip RemoveAttributeInstances with arguments
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ProcessLinkerXmlBase.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
Labels: area-NativeAOT

#958 Don't allow canonical instantiations when reflection-rooting
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/RootingHelpers.cs
  src/tests/nativeaot/SmokeTests/Reflection/Reflection.cs
Labels: area-NativeAOT

#967 Create relocations for ADRP instructions for Windows/macOS ARM64
  src/coreclr/tools/aot/ObjWriter/llvm.patch
Labels: area-NativeAOT

#965 Allow RuntimeType with missing EEType in some cases
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/General/TypeUnifier.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/TypeInfos/RuntimeTypeInfo.cs
  src/tests/nativeaot/SmokeTests/Reflection/Reflection.cs
Labels: area-NativeAOT

#970 Generate metadata for what should be reflectable only
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/AnalysisBasedMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CanonicalEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CodeBasedDependencyAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ConstructedEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CustomAttributeBasedDependencyAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectableMethodNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/StringAllocatorMethodNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/GeneratingMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/IRootingServiceProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/RootingHelpers.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/RootingServiceProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
Labels: area-NativeAOT

#955 Re-add change lost with last merge
  eng/Subsets.props
Labels: area-s390x

#983 Revert "Skip test on s390x that runs into OOM killer"
  src/libraries/System.IO/tests/BinaryWriter/BinaryWriter.EncodingTests.cs
Labels: area-s390x

#997 Fix stack overflow on ARM64 process startup
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ReflectionDomainSetupImplementation.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ReflectionExecution.cs
Labels: area-NativeAOT

#1007 Rename MarshalEx.SetLastWin32Error -> SetLastPInvokeError
  DllImportGenerator/Ancillary.Interop/MarshalEx.cs
  DllImportGenerator/DllImportGenerator.IntegrationTests/SetLastErrorTests.cs
  DllImportGenerator/DllImportGenerator/StubCodeGenerator.cs
Labels: area-DllImportGenerator

#1008 Update to Arcade 6.0.0-beta.21222.1
  DllImportGenerator/TestAssets/NativeExports/NativeExports.csproj
  eng/Version.Details.xml
  eng/common/build.sh
  eng/common/darc-init.sh
  eng/common/dotnet-install.sh
  eng/common/generate-locproject.ps1
  eng/common/init-tools-native.sh
  eng/common/internal-feed-operations.ps1
  eng/common/internal-feed-operations.sh
  eng/common/msbuild.sh
  eng/common/native/CommonLibrary.psm1
  eng/common/native/install-cmake-test.sh
  eng/common/native/install-cmake.sh
  eng/common/native/install-tool.ps1
  eng/common/performance/blazor_perf.proj
  eng/common/performance/crossgen_perf.proj
  eng/common/performance/microbenchmarks.proj
  eng/common/performance/performance-setup.ps1
  eng/common/performance/performance-setup.sh
  eng/common/pipeline-logging-functions.ps1
  eng/common/pipeline-logging-functions.sh
  eng/common/post-build/post-build-utils.ps1
  eng/common/post-build/publish-using-darc.ps1
  eng/common/sdl/execute-all-sdl-tools.ps1
  eng/common/sdl/init-sdl.ps1
  eng/common/sdl/packages.config
  eng/common/sdl/push-gdn.ps1
  eng/common/templates/job/execute-sdl.yml
  eng/common/templates/job/onelocbuild.yml
  eng/common/templates/job/performance.yml
  eng/common/templates/job/publish-build-assets.yml
  eng/common/templates/job/source-build.yml
  eng/common/templates/job/source-index-stage1.yml
  eng/common/templates/jobs/jobs.yml
  eng/common/templates/jobs/source-build.yml
  eng/common/templates/phases/publish-build-assets.yml
  eng/common/templates/post-build/channels/generic-internal-channel.yml
  eng/common/templates/post-build/channels/generic-public-channel.yml
  eng/common/templates/post-build/post-build.yml
  eng/common/templates/post-build/setup-maestro-vars.yml
  eng/common/templates/steps/perf-send-to-helix.yml
  eng/common/templates/steps/send-to-helix.yml
  eng/common/templates/steps/source-build.yml
  eng/common/tools.ps1
  eng/common/tools.sh
  global.json
Labels: area-DllImportGenerator

#1022 Stop using myget feed
  DllImportGenerator/DllImportGenerator.UnitTests/DllImportGenerator.UnitTests.csproj
Labels: area-DllImportGenerator

#1025 Get rid of a dataflow warning
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Augments/ReflectionAugments.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/General/ReflectionCoreCallbacksImplementation.cs
Labels: area-NativeAOT

#1028 Ensure we have a DependencyList in TryGetDependenciesForReflectedType
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/RootingHelpers.cs
Labels: area-NativeAOT

#984 Update analysis warning location model to new syntax and clean up analyzer warning locations.
  DllImportGenerator/DllImportGenerator.UnitTests/ManualTypeMarshallingAnalyzerTests.cs
  DllImportGenerator/DllImportGenerator/AnalyzerReleases.Unshipped.md
  DllImportGenerator/DllImportGenerator/Analyzers/AnalyzerDiagnostics.cs
  DllImportGenerator/DllImportGenerator/Analyzers/ManualTypeMarshallingAnalyzer.cs
  DllImportGenerator/DllImportGenerator/Resources.Designer.cs
  DllImportGenerator/DllImportGenerator/Resources.resx
Labels: area-DllImportGenerator

#1031 Merge latest standalone-template into feature/DllImportGenerator
  DllImportGenerator/Ancillary.Interop/Ancillary.Interop.csproj
  README.md
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/templates/job/onelocbuild.yml
  eng/testing/runsettings.targets
  global.json
Labels: area-DllImportGenerator

#1033 Ninja-related build fixes
  eng/Subsets.props
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/Test.CoreLib/src/Test.CoreLib.csproj
Labels: area-NativeAOT

#1034 Move docs to top-level directory
  DllImportGenerator/readme.md
  README.md
  designs/Compatibility.md
  designs/Diagnostics.md
  designs/Pipeline.md
  designs/StructMarshalling.md
Labels: area-DllImportGenerator

#1026 Update files shared with illink
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/FlowAnnotations.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/MethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/Origin.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/FlowAnnotations.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/MethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/README.md
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/ValueNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ValueNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ObjectGetTypeFlowDependenciesNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/tests/nativeaot/SmokeTests/Dataflow/Dataflow.cs
Labels: area-NativeAOT

#1036 Sync files shared with IL Linker
  src/coreclr/tools/Common/Compiler/Logging/ReferenceSource/README.md
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/DynamicallyAccessedMembersBinder.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/FlowAnnotations.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/MethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/README.md
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/ValueNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
Labels: area-NativeAOT

#1037 Scan throw helper for unsupported EH
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
Labels: area-NativeAOT

#900 Enable libraries testing
  eng/pipelines/runtimelab/runtimelab-post-build-steps.yml
  eng/testing/default.rd.xml
  eng/testing/tests.singlefile.targets
  eng/testing/tests.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/Directory.Build.props
  src/libraries/System.Collections/tests/System.Collections.Tests.csproj
  src/libraries/System.Collections/tests/default.rd.xml
  src/libraries/System.IO.FileSystem/tests/Directory/Exists.cs
  src/libraries/System.IO.FileSystem/tests/File/Exists.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
  src/libraries/System.Runtime/tests/System/Reflection/ModuleTests.cs
  src/libraries/System.Runtime/tests/System/Reflection/ReflectionCacheTests.cs
  src/libraries/System.Runtime/tests/default.rd.xml
  src/libraries/externals.csproj
  src/libraries/tests.proj
Labels: area-NativeAOT

#1047 Match repro project with our defaults
  src/coreclr/tools/aot/ILCompiler/repro/repro.csproj
Labels: area-NativeAOT

#1046 Add detection of managed C++
  src/coreclr/tools/Common/Compiler/CompilerTypeSystemContext.cs
Labels: area-NativeAOT

#1050 Add DLLIMPORTGENERATOR_ENABLED when DllImportGenerator package is referenced
  DllImportGenerator/DllImportGenerator.UnitTests/ConvertToGeneratedDllImportFixerTests.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Verifiers/CSharpCodeFixVerifier.cs
  DllImportGenerator/DllImportGenerator/Analyzers/ConvertToGeneratedDllImportFixer.cs
  DllImportGenerator/DllImportGenerator/DllImportGenerator.cs
  DllImportGenerator/DllImportGenerator/Microsoft.Interop.DllImportGenerator.props
Labels: area-DllImportGenerator

#1043 Handle function pointers
  DllImportGenerator/DllImportGenerator.IntegrationTests/FunctionPointerTests.cs
  DllImportGenerator/DllImportGenerator.UnitTests/CodeSnippets.cs
  DllImportGenerator/DllImportGenerator.UnitTests/Compiles.cs
  DllImportGenerator/DllImportGenerator.UnitTests/ConvertToGeneratedDllImportAnalyzerTests.cs
  DllImportGenerator/DllImportGenerator/Marshalling/MarshallingGenerator.cs
  DllImportGenerator/DllImportGenerator/TypeSymbolExtensions.cs
  DllImportGenerator/TestAssets/NativeExports/DelegatesAndFunctionPointers.cs
  eng/Versions.props
Labels: area-DllImportGenerator
