Repository dotnet/runtimelab, pull requests merged in 2023-06, with the labels that each got.

#2306 [NativeAOT-LLVM] Stub out finalization and enable some tests
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/__Finalizer.SingleThreaded.cs
  src/coreclr/nativeaot/Runtime/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/nativeaot/Runtime/wasm/FinalizerHelpers.SingleThreaded.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/Test.CoreLib/src/Test.CoreLib.csproj
  src/tests/Common/dirs.proj
  src/tests/nativeaot/SmokeTests/DynamicGenerics/threadstatics.cs
  src/tests/nativeaot/SmokeTests/HelloWasm/HelloWasm.cs
Labels: area-NativeAOT-LLVM

#2308 [NativeAOT-LLVM] Enable more tests and fix more bugs
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/llvm.cpp
  src/coreclr/jit/llvm.h
  src/coreclr/nativeaot/Bootstrap/main.cpp
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/ExceptionHandling.wasm.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/InternalCalls.cs
  src/coreclr/nativeaot/Runtime/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/nativeaot/Runtime/wasm/PalRedhawkWasm.cpp
  src/coreclr/nativeaot/Runtime/wasm/PalRedhawkWasm.h
  src/coreclr/nativeaot/Runtime/wasm/RawCalliHelper.cpp
  src/coreclr/nativeaot/Runtime/wasm/wasi_pthread.c
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_Wasm/WasmReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.LLVM/CodeGen/LLVMObjectWriter.cs
  src/coreclr/tools/aot/ILCompiler.LLVM/Compiler/DependencyAnalysis/LLVMMethodCodeNode.cs
  src/coreclr/tools/aot/ILCompiler.LLVM/Compiler/LLVMCodegenCompilation.cs
  src/tests/CMakeLists.txt
  src/tests/Common/dirs.proj
  src/tests/nativeaot/CustomMain/CMakeLists.txt
  src/tests/nativeaot/Directory.Build.props
  src/tests/nativeaot/SmokeTests/HelloWasm/wasmjit-diff.ps1
  src/tests/nativeaot/SmokeTests/PInvoke/CMakeLists.txt
  src/tests/nativeaot/SmokeTests/PInvoke/PInvoke.cs
  src/tests/nativeaot/SmokeTests/PInvoke/PInvoke.csproj
  src/tests/nativeaot/SmokeTests/Reflection/Reflection.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/TrimmingBehaviors.csproj
  src/tests/nativeaot/SmokeTests/UnitTests/Delegates.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Generics.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Interfaces.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Main.cs
  src/tests/nativeaot/SmokeTests/UnitTests/UnitTests.csproj
Labels: area-NativeAOT-LLVM

#2312 [NativeAOT-LLVM] Pass GC values in LLVM/WASM registers
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/llvm.cpp
  src/coreclr/jit/llvm.h
  src/coreclr/jit/llvmcodegen.cpp
  src/coreclr/jit/llvmlower.cpp
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/ExceptionHandling.wasm.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/InternalCalls.cs
  src/coreclr/nativeaot/Runtime/wasm/ExceptionHandling/ExceptionHandling.cpp
  src/coreclr/nativeaot/Runtime/wasm/StubDispatch.cpp
  src/coreclr/tools/aot/ILCompiler.LLVM/CodeGen/LLVMCodegenCompilation.CodeGen.cs
  src/coreclr/tools/aot/ILCompiler.LLVM/CodeGen/LLVMObjectWriter.cs
Labels: area-NativeAOT-LLVM

#2329 Update README.md
  README.md
Labels: area-Infrastructure

#2328 Update Arcade
  NuGet.config
  eng/Version.Details.xml
  eng/common/BuildConfiguration/build-configuration.json
  eng/common/build.ps1
  eng/common/dotnet-install.sh
  eng/common/generate-locproject.ps1
  eng/common/init-tools-native.ps1
  eng/common/loc/P22DotNetHtmlLocalization.lss
  eng/common/native/init-compiler.sh
  eng/common/sdk-task.ps1
  eng/common/sdl/NuGet.config
  eng/common/sdl/configure-sdl-tool.ps1
  eng/common/sdl/execute-all-sdl-tools.ps1
  eng/common/sdl/sdl.ps1
  eng/common/templates/job/execute-sdl.yml
  eng/common/templates/job/job.yml
  eng/common/templates/job/publish-build-assets.yml
  eng/common/templates/job/source-index-stage1.yml
  eng/common/templates/jobs/source-build.yml
  eng/common/templates/post-build/common-variables.yml
  eng/common/templates/post-build/post-build.yml
  eng/common/templates/steps/component-governance.yml
  eng/common/templates/steps/execute-sdl.yml
  eng/common/templates/steps/generate-sbom.yml
  eng/common/templates/steps/source-build.yml
  eng/common/templates/variables/pool-providers.yml
  eng/common/tools.ps1
  eng/common/tools.sh
  global.json
Labels: area-ManagedZLib
